<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{content-for 'baseAssets'}}assets/images/logos/favicon.ico">
    <title>Loadingssssssssssss&hellip;</title>
    <!-- {{content-for 'version'}} -->
    <meta name="description" content="">
    {{content-for 'head'}}
    <link id="vendor" rel="stylesheet">
    <link id="theme" rel="stylesheet">
    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}
    <script src="{{content-for 'baseAssets'}}assets/vendor.js"></script>
    <script src="{{content-for 'baseAssets'}}assets/ui.js"></script>
    {{content-for 'body-footer'}}
  </body>
</html>
