<section class="header">
  {{!-- <h2 class="test">Clustertype</h2> --}}
  <h1>
    {{#if (eq router.currentRoute.localName "select")}}
    {{!-- {{t "clustersPage.select.provider.label"}} --}}
    <div class="breadcrumb flat">
      <a href="https://localhost/g/clusters/add/select" class="active">1. Cluster Type</a>
      <a href="#">2. Cluster Detail</a>
      <a href="#">3. Cluster Option</a>
    </div>
    {{else if (eq router.currentRoute.localName "cluster-template")}}
    {{!-- {{t "clustersPage.select.template.label"}} --}}
    <div class="breadcrumb flat">
      <a href="https://localhost/g/clusters/add/select" class="active">1. Cluster Type</a>
      <a href="#" class="active">2. Cluster Detail</a>
      <a href="#" class="active">3. Cluster Option</a>
    </div>
    {{else}}
    {{!-- {{t "clustersPage.launch.new"}} - {{driver-name provider}} --}}
    
    <div class="breadcrumb flat">
      <a href="https://localhost/g/clusters/add/select" class="active">1. Cluster Type</a>
      <a href="#" class="active">2. Cluster Detail</a>
      <a href="#">3. Cluster Option</a>
    </div>
    {{/if}}
  </h1>
</section>
<section class="cluster-launch">
  {{outlet}}
</section>